{% load static %}
{% load widget_tweaks %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Login V1</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="{% static 'account_app/images/icons/favicon.ico' %}"/>
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'account_app/vendor/bootstrap/css/bootstrap.min.css' %}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css"
          href="{% static 'account_app/fonts/font-awesome-4.7.0/css/font-awesome.min.css' %}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'account_app/vendor/animate/animate.css' %}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'account_app/vendor/css-hamburgers/hamburgers.min.css' %}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'account_app/vendor/select2/select2.min.css' %}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'account_app/css/util.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'account_app/css/main.css' %}">
    <!--===============================================================================================-->
</head>
<body>

<div class="limiter">
    <div class="container-login100">
        <div class="wrap-login100">
            <div class="login100-pic js-tilt" data-tilt>
                <img src="{% static 'account_app/images/img-01.png' %}" alt="IMG">
            </div>

            <form method="post" action="{% url 'user_edit_profile' %}" class="login100-form validate-form">
					<span class="login100-form-title">
						ثبت نام
					</span>
                {% if messages %}
                    {% for message in messages %}
                        <div class="wrap-input100 validate-input"
                             data-validate="Valid email is required: ex@abc.xyz">
                            <input style="font-size: 20px;text-align: right;color: darkred" disabled="disabled"
                                   class="input100"
                                   type="text"
                                   name="message"
                                   value="{{ message }}">
                            <span class="focus-input100"></span>
                            </span>
                        </div>
                    {% endfor %}
                {% endif %}
                {% csrf_token %}
                {% for foo in form %}
                    {% if messages %}
                        {% for message in messages %}
                            <div class="wrap-input100 validate-input"
                                 data-validate="Valid email is required: ex@abc.xyz">
                                <input style="text-align: right;color: darkred" disabled="disabled" class="input100"
                                       type="text"
                                       name="message"
                                       value="{{ message }}">
                                <span class="focus-input100"></span>
                                </span>
                            </div>
                        {% endfor %}
                    {% endif %}
                    <div class="wrap-input100 validate-input" data-validate="Password is required">
                        {% if foo.label == 'Email address' %}
                            <label style="font-size: 20px;float: right" for=""> : ایمیل</label>
                        {% elif foo.label == 'نام کامل' %}
                            <label style="font-size: 20px;float: right" for=""> : نام کامل</label>
                        {% endif %}
                        {{ foo|add_class:"input100" }}
                        <span class="focus-input100"></span>

                    </div>
                {% endfor %}

                <div class="container-login100-form-btn">
                    <button class="login100-form-btn">
                        ثبت نام
                    </button>
                </div>

            </form>
        </div>
    </div>
</div>


<!--===============================================================================================-->
<script src="{% static 'account_app/vendor/jquery/jquery-3.2.1.min.js' %}"></script>
<!--===============================================================================================-->
<script src="{% static 'account_app/vendor/bootstrap/js/popper.js' %}"></script>
<script src="{% static 'account_app/vendor/bootstrap/js/bootstrap.min.js' %}"></script>
<!--===============================================================================================-->
<script src="{% static 'account_app/vendor/select2/select2.min.js' %}"></script>
<!--===============================================================================================-->
<script src="{% static 'account_app/vendor/tilt/tilt.jquery.min.js' %}"></script>
<script>
    $('.js-tilt').tilt({
        scale: 1.1
    })
</script>
<!--===============================================================================================-->
<script src="{% static 'account_app/js/main.js' %}"></script>

</body>
</html>